<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.h5200042.hkdtic">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HkdTic">
        <activity
            android:name=".pages.Profile"
            android:exported="false" />
        <activity
            android:name=".pages.CAutoAccessory"
            android:exported="false" />
        <activity
            android:name=".pages.CGift"
            android:exported="false" />
        <activity
            android:name=".pages.CPersonalCare"
            android:exported="false" />
        <activity
            android:name=".pages.CMomAndBaby"
            android:exported="false" />
        <activity
            android:name=".pages.CHomeAndLife"
            android:exported="false" />
        <activity
            android:name=".pages.CElectronic"
            android:exported="false" />
        <activity
            android:name=".pages.ConfirmOrder"
            android:exported="false" />
        <activity
            android:name=".pages.Info"
            android:exported="false" />
        <activity
            android:name=".pages.CreditCard"
            android:exported="false" />
        <activity
            android:name=".pages.NewCreditCard"
            android:exported="false" />
        <activity
            android:name=".pages.NewAdress"
            android:exported="false" />
        <activity
            android:name=".pages.Adress"
            android:exported="false" />
        <activity
            android:name=".pages.PaymentScreen"
            android:exported="false" />
        <activity
            android:name=".pages.DetailScreen"
            android:exported="false" />
        <activity
            android:name=".pages.Cart"
            android:exported="false" />
        <activity
            android:name=".pages.Orders"
            android:exported="false" />
        <activity
            android:name=".pages.Categories"
            android:exported="false" />
        <activity
            android:name=".pages.ConfirmedResetPass"
            android:exported="false" />
        <activity
            android:name=".pages.EnterEmail"
            android:exported="false" />
        <activity
            android:name=".pages.ChooseScreenResetPass"
            android:exported="false" />
        <activity
            android:name=".pages.Home"
            android:exported="false" />
        <activity
            android:name=".pages.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pages.SignUp"
            android:exported="false" />
    </application>

</manifest>